{% extends 'base.html' %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block content %}
<main>

    

    <div class="container hcenter">
        <img class="hcenter acc-image" src="static\img\other\isaac-newton-gettyimages-56458980.jpg" alt="">
    </div>
    
    <h1 class="hcenter acc-name">Isaac Newton</h1>
    <h5 class="hcenter acc-tag">@isaacnewton</h5>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container-fluid acc-info-container">
                    <p>My projects</p>
                    <div class="container article-container">
                        <p>William Shakespeare</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container-fluid acc-info-container">
                    <p>My favourite</p>
                    <div class="container article-container">
                        <p>William Shakespeare</p>

            </div>
        </div>
    </div>
</main>

{% endblock content %}