{% extends 'base.html' %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block content %}
<header>
  <nav class="navbar fixed-top nav-transition" style="margin-top: -100px;">
    <div class="container-fluid" style="height: 55px; margin-top: -8px;background-color: rgba(14, 14,14, 0.8); backdrop-filter: blur(20px);">
      <a class="navbar-brand" style="color: rgb(255, 255, 255); margin-left: 7%; font-weight: 600;">{{article[1]}}</a>
      <form class="d-flex" role="search" style="margin-right: 7%;">
            <a href="#" style="font-size: 12px;" class="link-with-line">Article</a>
            
        
        <a href="#" class="nav-other" style="font-size: 12px; margin-left:15px">Comments</a>
        <a href="#" class="nav-other"style="font-size: 12px; margin-left:15px">Similar Articles</a>
        
      </form>
      
    </div>
    <hr style="width: 200%; margin-top:-0.9px">
  </nav>    
</header>
<main>
    <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
          <div class="col-10">
            <ul class="list-group list-group-horizontal vcenter">
                <li><h3 style=" font-weight:bold">{{article[1]}}</h3></li>
                <li style="margin-left: 10px; margin-top:10px"><p class="new-status-info">NEW</p></li>
            </ul>             
            <p class="author-info">Written by <a class="author-link" href="https://chat.openai.com/g/g-B3hgivKK9">Artificial Inteligence</a></p>
            <hr style="width: 100%; margin-top:-0.9px; transform-origin: left">
            <div class="container">
            <ul class="list-group list-group-horizontal">
                <li class="hr-list-items link-with-line-bottom">Article</li>
                <li class="hr-list-items nav-other">Comments</li>
                <li class="hr-list-items nav-other">Similar Articles</li>
            </ul>

            <div class="article-content">
              <div class="container">
                {{text|safe}}
              </div>
                
                
            </div>
            </div>
            

            
          </div>
          <div class="col-2" style="transform-origin: right;"></div>


</main>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.querySelector(".nav-transition");
  
    window.addEventListener("scroll", () => {
      if (window.scrollY > 300) {
        navbar.style.marginTop = "0px"; // Зменшуємо відступ
      } else {
        navbar.style.marginTop = "-100px"; // Повертаємо початковий відступ
      }
    });
  });

  
</script>

{% endblock content %}